
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$QuickQue-primary: mat-palette($mat-green);
$QuickQue-accent: mat-palette($mat-green, 800, 700, A100);

// The warn palette is optional (defaults to red).
$QuickQue-warn: mat-palette($mat-green);

// Create the theme object (a Sass map containing all of the palettes).
$QuickQue-theme: mat-light-theme($QuickQue-primary, $QuickQue-accent, $QuickQue-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

.mat-horizontal-stepper-header-container{
    display: none !important;
}
.mat-horizontal-content-container{
	padding: 0 !important;
}
@include angular-material-theme($QuickQue-theme);

/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.text-light{
	color: white;
}
.bg-light{
	background-color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.selected-item{
	border: 0 !important;
	background-color: #28a745 !important;
}
.multiselect-item-checkbox > div::before{
	border-color: #28a745 !important;
	background-color: #28a745 !important;
}

@media (max-width: 767px){
	.list-group-horizontal{
		display:block; 
	}
}